.fav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 12vh;
}

.fav-box {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 30vh;
  width: 80vw;
  border-radius: 5px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.fav-photo {
  height: 100%;
  width: 28%;
  object-fit: cover;
  border-radius: 5px;
}

.fav-details {
  margin-top: 1.5%;
  margin-left: -10%;
  line-height: 2rem;
}

.fav-name-location {
  margin-bottom: 20%;
}

.fav-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.fav-location {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .fav-container {
    height: 20vh;
    margin: 14vh;
  }
  .fav-details {
    margin-left: -5%;
  }
}

@media screen and (min-width: 675px) and (max-width: 900px) {
  .fav-container {
    height: 20vh;
    margin-top: 15vh;
  }
  .fav-details {
    margin-left: -10%;
  }
  .fav-name {
    font-size: 1rem;
  }
  .fav-location {
    font-size: 0.9rem;
  }
  .fav-sub-details {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 675px) {
  .fav-container {
    height: 15vh;
    margin-top: 10vh;
  }
  .fav-box {
    height: 20vh;
  }
  .fav-details {
    margin-left: 0%;
    line-height: 1.1rem
  }
  .fav-name {
    font-size: 0.75rem;
  }
  .fav-location {
    font-size: 0.65rem;
  }
  .fav-sub-details {
    font-size: 0.55rem;
  }
}
