.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 6%;
  margin-bottom: 2%;
  height: 10vh;
  width: 40vw;
  border-radius: 6px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.filter-name-container, .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  font-size: 1.4rem;
  font-weight: 500;
}

.filter-name-state {
  border: none;
  border-bottom: black 1px solid;
  height: 3vh;
  width: 15vw;
  outline-color: #CAE8FC;
  font-size: 1.1rem;
  text-align: center;
}

select {
  height: 3vh;
  width: 8vw;
  outline-color: #CAE8FC;
}

@media screen and (min-width: 800px) and (max-width: 1250px) {
  .filter-container {
    height: 9vh;
    width: 35vw;
    margin-top: 8%;
  }
  .filter-name-container, .dropdown {
    height: 65%;
    font-size: 1rem;
  }
  .filter-name-state {
    height: 2.5vh;
    width: 12vw;
    font-size: 1.0rem;
  }
  select {
    height: 3vh;
    width: 10vw;
  }
}

@media screen and (min-width: 435px) and (max-width: 800px) {
  .filter-container {
    height: 8vh;
    width: 45vw;
    margin-top: 10%;
  }
  .filter-name-container, .dropdown {
    height: 60%;
    font-size: 0.8rem;
  }
  .filter-name-state {
    height: 2vh;
    width: 20vw;
    font-size: 0.8rem;
  }
  select {
    height: 3vh;
    width: 20vw;
  }
}

@media screen and (max-width: 435px) {
  .filter-container {
    height: 8vh;
    width: 50vw;
    margin-top: 15%;
  }
  .filter-name-container, .dropdown {
    height: 60%;
    font-size: 0.6rem;
  }
  .filter-name-state {
    height: 2vh;
    width: 20vw;
    font-size: 0.6rem;
  }
  select {
    height: 3vh;
    width: 18vw;
    font-size: 0.7rem;
  }
}
